<label for="{{id}}" ng-class="{'col-sm-{{parent.parent.labelSize}}': parent.parent.orientation == 'horizontal', 'sr-only': parent.parent.orientation == 'inline'}">{{label}}</label>
<div ng-if="parent.parent.orientation != 'inline'">
    <div ng-class="{'col-sm-{{12 - parent.parent.labelSize}}': parent.parent.orientation == 'horizontal'}">
        <textarea id="{{id}}" class="form-control" rows="5" placeholder="{{placeholder}}">{{value}}</textarea>
    </div>
</div>
<div ng-if="parent.parent.orientation == 'inline'"><input id="{{id}}" class="form-control" type="{{type}}" placeholder="{{placeholder}}" value="{{value}}"/></div>